@model List<NotYourAverageBicepShoppingApp.UIApp.Models.Product>;

@{
    ViewData["Title"] = "AllProducts";
}

<h1>Click here to view your current cart items</h1>
<a asp-controller="UI" asp-action="ViewCart">View Cart</a>

<h1>All Products</h1>
<form asp-controller="UI" asp-action="AllProducts" method="get">
    <input type="text" name="searchStr" placeholder="Product Name contains..." /> <br />
    <input type="submit" value="Search" />

</form>

@foreach (var product in Model)
{
    <p>ProductId: @product.ProductId</p>
    <p>ProductName: @product.ProductName</p>
    <a asp-controller="UI" asp-action="OneProduct" asp-route-id="@product.ProductId">Details</a>
    <hr />
}
